@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.grey-recherche');
    border-radius: 10px;
    padding: 10px;
  }

  .link {
    @apply no-underline hover:underline text-blue-500;
  }

  .half-a-border-on-top {
    border-top:4px solid theme('colors.blue-header-btn');
    border-image: linear-gradient(to right, theme('colors.blue-header-btn') 45%, #FFF 45%) 100% 1;
  }

  .half-a-border-on-bottom {
    border-bottom:4px solid theme('colors.blue-header-btn');
    border-image: linear-gradient(to left, theme('colors.blue-header-btn') 40%, #FFF 40%) 100% 1;
  }
}